.slideshow {
	width: 100%;
        max-width: 1600px;
	position: relative;
	text-align: center;
	line-height: 1150px;
	padding-bottom: 30px;
}

.slideshow[data-transition="zoom"] {
	overflow: hidden;
}

/* slideshow item */
.slideshow--item {
	width: 1600px;
	height: 2300px;
	line-height: 1.5;
	position: absolute;
	top: 0;
	visibility: hidden;
}

.slideshow--bullet:checked + .slideshow--item {
	visibility: visible;
}

.slideshow[data-transition="fade"] .slideshow--item {
	visibility: visible;
	opacity: 0;
	transition: .3s ease-out opacity;
}

.slideshow[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
}

.slideshow[data-transition="zoom"] .slideshow--item {
	visibility: visible;
	opacity: 1;
	transform: scale(0.000001);
	transition: .3s ease-out transform;
}

.slideshow[data-transition="zoom"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
	transform: scale(1);
}

/* slideshow navigation */
.slideshow--nav{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	display: none;
	z-index: 88;
	cursor: pointer;
	color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slideshow--nav:after {
	display: block;
	content: '\25B6';
	font-size: 2em;
	color: #000;
	position: absolute;
	top: 50%;
	right: -45px;
	margin-top: -.5em;
}

.slideshow--nav-previous {
	left: 0;
	display: block;
}

.slideshow--nav-previous:after {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
	right: auto;
	left: 5px;
}

.slideshow--nav-next {
	left: 50%;
	display: block;
}

/* Radiobuttons to control the slideshow */
.slideshow--bullet {
	font-size: .75em;
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
	z-index: 99;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 1em;
	transition: .3s ease-out background,
				.3s ease-out transform;
}

.slideshow--bullet:checked {
	background: #999;
	outline: none;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}
